.change-password-container{
    width: 100%;
    margin-top: 4rem;
    min-height: 50rem;
}

.change-pasword{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.change-password-title{
    width: 100%;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
.change-password-input-container{
    width: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}
.change-password-input-container > label{
    width: 20%;
    font-size: 1.5rem;
    font-weight: 800;
    max-width: 30%;
}
.change-password-input-container > input{
    width: 70%;
    height: 7rem;
    border-radius: 4rem;
    padding:0 2rem;
    font-size: 1.8rem;
}
.change-password-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.change-password-button > button{
    min-width: 20%;
    height: 5rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: green;
    color:white;
    cursor: pointer;
}
.change-password-button > button:active{
    transform: scale(1.1);
}
@media only screen and (max-width:739px){
    .change-password-container{
        min-height: 90rem;
        display: flex;
        align-items: center;
    }
    .change-password-input-container{
        width: 100%;
    }
    .change-password-input-container > label{
        width: 45%;
        font-size: 1.3rem;
    }
}